body {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #fff;
}

.panel {
  border: none;
}

.panel-info>.panel-heading {
  padding-top: 5px;
  padding-bottom: 5px;
  color: blue;
  background-color: white;
  border-bottom: 0px;
}

.chart div {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  background-color: #149c82;
  text-align: right;
  padding: 5px;
  margin: 4px;
  color: #fff;
}
